
.container {

  &__title {
    color: yellow;
    margin-left: 13px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    &__search {
      font-size: 17px;
      padding: 12px;
      margin: 13px;
    }

    &__button {
      margin: 13px;
      padding: 12px;
      background: #191970;
      font-size: 17px;
      color: yellow;
      cursor: pointer;
      border-radius: 20px;
    }
  }
}

.container__table {
  margin: 13px;

  table {
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  th,
  td {
    text-align: center;
    padding: 8px;
  }

  &__edit {
    width: 100px;
    padding: 10px;
    background: blue;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
  }

  &__remove {
    width: 100px;
    padding: 10px;
    background: #ff1d25;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // background-color: blue;s
  // position: fixed;
  // top: 0;
  width: 100%;
}

li {
  float: center;
  text-shadow: 2px 2px 5px red;
  font-weight: bold;
  font-size: 25px;
}

li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.noDatos {
  text-align: center;
}

.imagen {
  width: 40px;
}