body.active-modal {
  overflow-y: hidden;
}

.container__modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

  &__modalContent {
    border: 2px solid black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 800px;
    min-width: 600px;

    &__botones {
      display: flex;
      justify-content: space-evenly;

      &__guardar {
        width: 100px;
        padding: 10px;
        background: #07a934;
        font-size: 17px;
        color: #fff;
        cursor: pointer;
      }

      &__cancelar {
        width: 100px;
        padding: 10px;
        background: #ff1d25;
        font-size: 17px;
        color: #fff;
        cursor: pointer;
      }
    }

    &__titulo {
      text-align: center;
    }

    &__form {
      display: flex;
      margin: 15px;

      &__text {
        margin: 15px;
        display: flex;

        h5 {
          width: 70px;
          font-size: 15px;
        }

        input {
          width: 120px;
          font-size: 15px;
          padding: 12px;
          margin: 13px;
          //   outline: 0;
        }
      }
    }
  }

  &__closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
    border: none;
  }
}